html{
    background-color: oldlace ;
}

@font-face {
    font-family: 'Londrina Shadow';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/londrinashadow/v20/oPWX_kB4kOQoWNJmjxLV5JuoCUlnQVyT5EncCA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

#bannerimage {
    z-index: index 0;
    position: relative;
}

h1{
    font-family: 'Londrina Shadow', Brush Script MT, Times New Roman, serif;
    font-size: 100px;
    color: whitesmoke;
    letter-spacing: 20px;
    text-align: center;
    z-index: index 1;
    position: absolute;
    top: 50px;
    left: 10%;
}
table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
   

}
table, th, td {
    border: 1px solid;
    height: 50px;
  }

p{
    text-align: center;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.colorname {
    font-family: monospace;
    color: black
}

/*Column One Greens*/

 #green{
     background-color: green;
 }
    
#lime{
    background-color: lime;
}

#olive{
    background-color: olive;
}

#chartreuse {
    background-color: chartreuse;
}

#darkgreen {
    background-color: darkgreen;
}
#darkolivegreen {
    background-color: darkolivegreen;
}

#darkseagreen {
    background-color: darkseagreen;
}

#darkslategreen {
    background-color: darkslategray;
}

#forestgreen{
    background-color: forestgreen;
}
#greenyellow{
    background-color: greenyellow;
}
#lawngreen {
    background-color: lawngreen;
}
#lightgreen {
    background-color: lightgreen;
}
#lightseagreen{
    background-color: lightseagreen;
}
#limegreen {
    background-color: limegreen;
}
#mediumaquamarine {
    background-color: mediumaquamarine;
}
#mediumseagreen{
    background-color: mediumaquamarine;
}
#mediumspringgreen{
    background-color: mediumspringgreen;
}
#olivedrab{
    background-color: olivedrab;
}
#palegreen {
    background-color: palegreen;
}
#seagreen{
    background-color: seagreen;
}
#springgreen {
    background-color: springgreen;
}
#yellowgreen {
    background-color: yellowgreen;
}
